.btn-mudar{
    padding: 20px;
    margin-left: 10px;
    color: aqua;
    background-color: rgb(14, 3, 36);
   border-radius: 10px;
   font-size: 15px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.input-texto{
    width: 340px;
    font-size: 28px;
    display: block;
    margin: 15px;
}