.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    color: white;
    background-color: rgb(104, 77, 77);
    padding: 20px;
    text-align: center;
}
